-extends "base.haml"

-load bootstrap3

-block content
  .row
    .col-md-9
      %h1= event.title
      %hr

      %p
        %b
          -if event.date
            =event.date
          -else
            No date yet for this event
          \-
          -if event.time
            =event.time
          -else
            no hours yet for this event

      %p
        %i
          -if event.location_address
            =event.location_address
          -else
            No location yet for this event, don't hesitate to suggest one!

      %p= event.description

      %h2 Commentaires
      %hr

      .row
        .col-md-8.col-md-offset-1
          %div{style: "margin-right: 0px; margin-left: 0px; border-color: #ddd; border-width: 1px; border-radius: 4px 4px 4px 4px; box-shadow: none; border-style: solid; position: relative; padding: 3px 15px 3px;"}
            %form.form{action: "", method: "post"}
              -csrf_token
              %h4 Add a comment
              .row
                .col-md-6
                  .form-group
                    %label.control-label{for: "comment_name"}
                      Name
                    %input#comment_name.form-control{type: "text", required: "", placeholder: "name", name: "name"}

                .col-md-6
                  .form-group
                    %label.control-label{for: "comment_email"}
                      Email
                    %input#comment_email.form-control{type: "text", required: "", placeholder: "name", name: "email"}

            .form-group
              %label.control-label{for: "comment_content"}
                Comment
              %textarea#comment_content.form-control

            .form-group
              %input.form-control.btn.btn-primary{type: "submit", value: "Add a comment"}

    .col-md-3
      %h1 Attendees
      %hr

      %div{style: "margin-right: 0px; margin-left: 0px; border-color: #ddd; border-width: 1px; border-radius: 4px 4px 4px 4px; box-shadow: none; border-style: solid; position: relative; padding: 3px 15px 0px;"}
        %form.form{action: "", method: "post"}
          -csrf_token
          -if event_attending
            %h4 Update my respond
          -else
            %h4 Respond to this event
          .form-group
            -bootstrap_field form.name

          .form-group
            =form.choice.errors
            %label.radio-inline
              %input{type: "radio", name: "choice", value: "yes", checked: "true"} Yes
            %label.radio-inline
              %input{type: "radio", name: "choice", value: "no"} No
            %label.radio-inline
              %input{type: "radio", name: "choice", value: "maybe"} Maybe

          .form-group
            %input.form-control.btn.btn-primary{type: "submit", value: "{% if event_attending %}Modify{% else %}Respond{% endif %}"}

      %br

      .panel.panel-success
        .panel-heading
          Attending
        %ul.list-group
          -for attending in event.yes_attending
            %li.list-group-item
              =attending.name

      .panel.panel-warning
        .panel-heading
          Maybe attending
        %ul.list-group
          -for attending in event.maybe_attending
            %li.list-group-item
              =attending.name

      .panel.panel-default
        .panel-heading
          Not attending
        %ul.list-group
          -for attending in event.no_attending
            %li.list-group-item
              =attending.name
