-extends "base.haml"

-load bootstrap3

-block content
  %h1 Event administration
  %hr

  .row
      %p
        %a.btn.btn-primary.btn-lg{href: "{% url 'event_detail' event.slug %}", target: "_blank"}
          Access event public page

      .alert.alert-danger
        %b Do not lose this URL! This is your only way to edit this event informations. Bookmark it or write it somewhere.

  %form.form{method: "post"}
    -csrf_token
    -bootstrap_form form
    {% buttons %}
      %button.btn.btn-primary{type: "submit"}
        Modify
    {% endbuttons %}
