-extends "base.haml"

-load bootstrap3

-block content
  .row
    .col-md-9
      %h1= event.title
      %hr

      %p
        %b
          -if event.date
            =event.date
          -else
            No date yet for this event
          \-
          -if event.time
            =event.time
          -else
            no hours yet for this event

      %p
        %i
          -if event.location_address
            =event.location_address
          -else
            No location yet for this event, don't hesitate to suggest one!

      %p= event.description

    .col-md-3
      %h1 Attendies
      %hr

      %div{style: "margin-right: 0px; margin-left: 0px; border-color: #ddd; border-width: 1px; border-radius: 4px 4px 4px 4px; box-shadow: none; border-style: solid; position: relative; padding: 3px 15px 15px;"}
        %form.form{action: "", method: "post"}
          -csrf_token
          %h4 Respond to this event
          .form-group
            -bootstrap_field form.name

          .form-group
            =form.yesnomaybe.errors
            %label.radio-inline
              %input{type: "radio", name: "choice", value: "yes", checked: "true"} Yes
            %label.radio-inline
              %input{type: "radio", name: "choice", value: "no"} No
            %label.radio-inline
              %input{type: "radio", name: "choice", value: "maybe"} Maybe

          %input.btn.btn-primary{type: "submit", value: "Respond"}

      .panel.panel-default
        .panel-heading
          Attending
        %ul.list-group
          -for attending in event.eventattending_set.all
            %li.list-group-item
              =attending.name
