-extends "base.haml"

-load bootstrap3

-block content
  .fuelux
    %h1 Create a new event
    %hr

    %form.form{method: "post"}
      -csrf_token

      .row
        .form-group
          .col-md-6
            -bootstrap_field form.title
          .col-md-6
            .form-group{class: "{% if form.slug.errors %}has-error{% elif form.data and form.slug %}has-success{% endif %}"}
              %label.control-label{for: "id_slug"} Public url (optional)
              .input-group
                .input-group-addon= current_base_url
                %input#id_slug.form-control{name: "slug", placeholder: "(will be generated from title if empty)", title: "", type: "text"}

              -for error in form.slug.errors
                %span.help-block= error

      .row
        .form-group
          .col-md-6
            .form-group{class: "{% if form.admin_email.errors %}has-error{% elif form.data and form.admin_email %}has-success{% endif %}"}
              %label.control-label{for: "admin_email"}
                Administrator email (optional)
                %small
                  %i
                    we'll send you a link to the event administration page
              %input#admin_email.form-control{type: "text", required: "", placeholder: "Administrator email (optional)
                %small
                  %i
                    we'll send you a link to the event administration page", name: "admin_email", placeholder: "Administrator email"}
              -for error in comment_form.admin_email.errors
                %span.help-block= error

      .form-group
        -bootstrap_field form.description

      -include "scheduler.haml"

      .form-group
        -bootstrap_field form.location_address

      .form-group
        %button.btn.btn-primary.form-control{type: "submit"}
          Create

-block javascript
  :javascript
    $(function() {
      $("#myStartDate").val("{% if form.date.data %}{{ form.date.data }}{% endif %}");
      $("#myStartTime").val("{% if form.time.data %}{{ form.time.data }}{% endif %}");
    });
