-extends "base.haml"

-load bootstrap3

-block content
  %h1 Create a new event
  %hr

  %form.form{method: "post"}
    -csrf_token

    .row
      .form-group
        .col-md-6
          -bootstrap_field form.title
        .col-md-6
          -bootstrap_field form.slug

    .form-group
      -bootstrap_field form.description

    .row
      .form-group
        .col-md-6
          -bootstrap_field form.date
        .col-md-6
          -bootstrap_field form.time

    .form-group
      -bootstrap_field form.location_address

    .form-group
      %button.btn.btn-primary.form-control{type: "submit"}
        Create
