-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_extra_head
  %link{href: "{{ STATIC_URL }}css/main.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/fuelux.min.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/sticky-footer.css", rel: "stylesheet"}
  -block head

-block bootstrap3_title
  WanaWana meet?

-block bootstrap3_content
  .container
    -block content


  %footer.footer
    .container
      %center
        %p.text-muted
          Wanawana is freesoftware licenced under agplv3+ -
          %a{href: "https://github.com/psycojoker/wanaWana"}
            source code

-block bootstrap3_extra_script
  %script{src: "{{ STATIC_URL }}js/fuelux.js"}
  -block javascript
