-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_extra_head
  %link{href: "{{ STATIC_URL }}css/main.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/fuelux.min.css", rel: "stylesheet"}
  -block head

-block bootstrap3_title
  WanaWana meet?

-block bootstrap3_content
  .container
    -block content

-block bootstrap3_extra_script
  %script{src: "{{ STATIC_URL }}js/fuelux.js"}
  -block javascript
