-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_title
  WanaWana meet?

-block bootstrap3_extra_head
  :css
    body {
        padding-top: 51px; /*for navbar*/
    }


-block bootstrap3_content
  .container
    %p foobar
