-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_title
  WanaWana meet?

-block bootstrap3_extra_head
  :css
    .big_fat_button {
        min-height: 10em;
        display: table-cell;
        vertical-align: middle;
    }

    div.container {top: 0; left: 0; width: 100%; height: 100%;
      position: absolute; display: table}
    p {display: table-cell; vertical-align: middle}
    p {text-align: center}
    body, html {height: 100%; margin: 0; padding: 0}


-block bootstrap3_content
  .container
    %p
      %a.btn.btn-primary.btn-lg{href: "{% url 'new_event' %}"}
        Create a new event

      %br
      %br
      %br
      %i
        %a{href: '#'}
          %small
            Recover informations linked to my email
